//Colors 

$color-primary: #00bcd4;
$color-primary-light: #62efff;
$color-primary-dark: #008ba3;

$color-black: #000000;
$color-white: #ffffff;
$color-dark-grey: #333333;
$color-light-grey: #DDDDDD;

